%h3 Usuarios

/ Show all users that work in this bufete
.row
    - @bufete.users.each do |user|
        .col-sm-12.col-md-3.text-center
            = link_to root_path do
                = image_tag user.avatar.url(:thumb), class: 'img-circle'
                
                %h5
                    %span{ class: user.owner ? 'glyphicon glyphicon-king' : 'glyphicon glyphicon-user' }
                    = user.name
                    = user.last_name
                    
    
.row.text-center
    = link_to root_path do
        %span.glyphicon.glyphicon-plus
        Agregar Usuario