%h2 
    Mis Bufetes
    .pull-right
        .btn-group.btn-group-sm.pull-right
            - if can? :create, Bufete
                = link_to new_bufete_path, class: "btn btn-default" do
                    %span.glyphicon.glyphicon-plus
                    Crear Nuevo Bufete

- if @bufetes.empty?
    %p.text-center 
        Aun no has creatdo tu bufete.
        = link_to 'Has click aqui para crear tu bufete.', new_bufete_path

- @bufetes.each do |bufete|
    .panel.panel-default
        .panel-body
            %h4
                = link_to bufete.nombre, bufete_path(bufete)
            %p.small= bufete.direccion
            
            %p= bufete.descripcion