.page-header
    .header-links.hidden-xs
        - if can? :update, @bufete
            = link_to edit_bufete_path(@bufete) do
                %i.fa.fa-pencil
                Editar Bufete
        - if can? :destroy, @bufete
            = link_to bufete_path(@bufete), method: :delete, data: { confirm: 'Estas seguro? Esta accion es irreversible.' } do
                %i.fa.fa-trash-o
                Eliminar Bufete
    %h1
        %i.fa.fa-briefcase
        Mi Bufete
        
.main-content
    .widget
    
        %h3.section-title.first-title
            %i.icon-tasks
            = @bufete.nombre

        %ul.list-inline
            %li
                %span.fa.fa-map-marker
                %strong Direccion:
                = @bufete.direccion
        
            %li
                %span.fa.fa-phone
                %strong Telefono:
                = @bufete.telefono
                
            %li
                %span.fa.fa-mobile
                %strong Movil:
                = @bufete.movil
    
        =simple_format h @bufete.descripcion