%h1 
    Acerca de #{APP_NAME}
    .pull-right
        %i.fa.fa-balance-scale

%h3 Que es #{APP_NAME}?
%p #{APP_NAME} es el software y el compañero ideal de un abogado. #{APP_NAME} te ayuda a manejar todos tus casos, clientes, y muchas otras cosas mas, todo en un solo lugar, desde cualquier lugar.

%p #{APP_NAME} fue lanzado en el año 2015.

%h3 Nuestra Vision

%p Queremos llegar a ser el sitio donde tu y todos los demas Hondureños pueden acceder facil y rapidamente para encontrar el lugar perfecto para vivir o realizar cualquier otro objetivo deseado. Con una plataforma activa y con mas usuarios y listados cada dia, estamos seguros que podemos lograrlo.