%h1 Preguntas Frecuentes (FAQ)

%p 
    A continuacion, una lista de las preguntas mas frecuentes por nuestros usuarios. Si tienes una pregunta, asegurate primero si ya ha sido contestada o no. De lo contrario, puedes
    = link_to 'contactarnos', contacto_path 
    con tu pregunta y te responderemos lo mas pronto posible.

%hr

// Begin FAQ

%div{ :class => "panel-group", :id => "accordion", :role => "tablist", "aria-multiselectable" => "true" }

    .panel.panel-info
        %div{ :class => "panel-heading", :role => "tab", :id => "headingQ1" }
            %h4.panel-title
                %a{ :role => "button", "data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#collapseQ1", "aria-expanded" => "true", "aria-controls" => "collapseQ1" }
                    Puedo probar la aplicacion gratis?
        %div{ :id => "collapseQ1", :class => "panel-collapse collapse in", :role => "tabpanel", "aria-labelledby" => "headingQ1" }
            .panel-body
                %p
                    %strong SI!
                    Puedes probar la aplicacion totalmente gratis escogiendo el 
                    = link_to 'plan de prueba', planes_path 
                    y luego registrando tu cuenta.
                    
                %p 
                    Para poder hacer uso de otras funciones en la aplicacion, 
                    = link_to 'escoge un plan pagado', planes_path


    .panel.panel-info
        %div{ :class => "panel-heading", :role => "tab", :id => "headingQ2" }
            %h4.panel-title
                %a{ :class => "collapsed", :role => "button", "data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#collapseQ2", "aria-expanded" => "false", "aria-controls" => "collapseQ2" }
                    Al usar la aplicacion, mi informacion sera privada?
        %div{ :id => "collapseQ2", :class => "panel-collapse collapse", :role => "tabpanel", "aria-labelledby" => "headingQ2" }
            .panel-body
                %p Si. Toda informacion que ingreses utilizando el sistema sera completamente privada y solo tu podras acceder a esta informacion.
                %p 
                    Asegurate de echar un vistaso a nuestra
                    = link_to 'politica de privacidad', privacidad_path
                    para saber mas.
   
    .panel.panel-info
        %div{ :class => "panel-heading", :role => "tab", :id => "headingQ3" }
            %h4.panel-title
                %a{ :class => "collapsed", :role => "button", "data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#collapseQ3", "aria-expanded" => "false", "aria-controls" => "collapseQ3" }
                    Como puedo contactarlos si tengo sugerencias o quiero reportar fallas o errores?
        %div{ :id => "collapseQ3", :class => "panel-collapse collapse", :role => "tabpanel", "aria-labelledby" => "headingQ3" }
            .panel-body
                %p Siempre estamos manteniendo y mejorando la aplicacion. Las sugerencias siempre son bienvenidas.
                
                %p 
                    Para contactarnos, simplemente utiliza nuestro 
                    = link_to 'formulario de contacto', root_path
                    y te responderemos lo mas pronto posible.
                
                