= form_for [@bufete, @caso, @record], class: 'form-horizontal' do |f|

    // ERROR MESSAGES
    = render "shared/error_messages", model: @record
    
    .row
        .col-md-6
            %h3.section-title.first-title Cliente
        
            .form-group
                = f.label :visita, 'Fecha de Visita'
                %br
                = f.datetime_select :visita, :ampm => true, :minute_step => 15, class: 'form-control'
            
            .form-group
                = f.label :folio
                = f.text_field :folio, class: 'form-control'
            
            .form-group
                = f.label :instancia
                = f.text_field :instancia, class: 'form-control'
                
            .form-group
                = f.label :actuacion
                = f.text_field :actuacion, class: 'form-control'
                
            .form-group
                = f.label :notificacion_cliente, 'Notificacion'
                = f.text_field :notificacion_cliente, class: 'form-control'
        
        .col-md-6
            %h3.section-title.first-title Contraparte
        
            /.form-group
            /    = f.label :fecha_contraparte, 'Fecha'
            /    %br
            /    = f.datetime_select :fecha_contraparte, :include_blank => true, :ampm => true, :minute_step => 15, class: 'form-control'
                
            .form-group
                = f.label :notificacion_contraparte, 'Notificacion'
                = f.text_field :notificacion_contraparte, class: 'form-control'
                
            .form-group
                = f.label :observaciones
                = f.text_field :observaciones, class: 'form-control'
    
    
    
    .form-group    
        = f.submit ( f.object.new_record? ? "Agregar Entrada" : "Guardar Cambios"), class: 'btn btn-success'
        = link_to 'Cancelar', :back, class: 'btn btn-default'