= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %h3.form-title.form-title-first
        %i.fa.fa-lock
        Entrar al Sistema

    .form-group
        = render 'layouts/error_alerts'

    .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, placeholder: 'E-mail', class: 'form-control'

    .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "off", placeholder: 'Contraseña', class: 'form-control'

    - if devise_mapping.rememberable?
        .form-group
            .checkbox
                %label
                    = f.check_box :remember_me
                    Recordarme

    .form-group
        = f.submit "Entrar", class: 'btn btn-block btn-success btn-lg'
    
    %p.text-center
        = link_to 'Olvidaste tu contraseña?', recuperar_pass_path