.page-header
    .header-links.hidden-xs
        - if can? :create, Persona
            = link_to new_bufete_persona_path(@bufete) do
                %i.fa.fa-plus
                Crear Persona
    %h1
        %i.fa.fa-users
        Personas
        
.main-content
    .widget
        .widget-content-white.glossed
            .padded
                .row
                    .col-md-12
                        .pull-right
                            = search_form_for @q, url: bufete_personas_path(params[:bufete_id]) do |f|
                                .form-group
                                    = f.search_field :nombre_or_apellido_cont, placeholder: 'Buscar Personas...', class: 'form-control'
                                        
                        %table.table.table-striped.table-bordered.table-hover
                            %thead
                                %tr
                                    %th.text-center Nombre Completo
                                    %th.text-center Identidad
                                    %th.text-center Telefono
                                    %th.text-center Domicilio
                                    %th.text-center Tipo
                                    %th
                            %tbody
                                - @personas.each do |p|
                                    %tr.text-center
                                        %td= link_to p.nombre_completo, bufete_persona_path(@bufete, p)
                                        %td= p.num_registro
                                        %td= p.telefono
                                        %td= p.domicilio
                                        %td= p.type
                                        %td
                                            = link_to bufete_persona_path(@bufete, p), class: 'btn btn-default btn-xs' do
                                                %span.fa.fa-search
                                            = link_to [:edit, @bufete, p], class: 'btn btn-default btn-xs' do
                                                %span.fa.fa-pencil
                        
                        = render 'shared/pagination', model: @personas