.page-header
    .header-links.hidden-xs
        - if can? :create, Persona
            = link_to new_bufete_persona_path(@bufete) do
                %i.fa.fa-plus
                Crear Persona
    %h1
        %i.fa.fa-users
        Personas
        
.main-content
    .widget
        .widget-content-white.glossed
            
            %table.table.table-striped.table-hover
                %thead
                    %tr
                        %th.text-center Nombre Completo
                        %th.text-center Identidad
                        %th.text-center Telefono
                        %th.text-center Domicilio
                        %th.text-center Tipo
                        %th
                %tbody
                    - @personas.each do |p|
                        %tr.text-center
                            %td= link_to p.nombre_completo, bufete_persona_path(@bufete, p)
                            %td= p.num_registro
                            %td= p.telefono
                            %td= p.domicilio
                            %td= p.type
                            %td
                                = link_to bufete_persona_path(@bufete, p), class: 'btn btn-default btn-xs' do
                                    %span.fa.fa-search
                                = link_to [:edit, @bufete, p], class: 'btn btn-default btn-xs' do
                                    %span.fa.fa-pencil