.page-header
    .header-links.hidden-xs
        - if can? :update, Persona
            = link_to [:edit, @bufete, @persona] do
                %i.fa.fa-pencil
                Editar
        - if can? :destroy, Persona
            = link_to bufete_persona_path(@bufete, @persona), method: :delete, data: { confirm: 'Estas seguro? Esta accion es irreversible.' } do
                %i.fa.fa-trash
                Eliminar
    %h1
        %i.fa.fa-users
        Personas

.main-content
    .widget
        %h3.section-title.first-title= @persona.nombre_completo
        
        .widget-content-white.glossed
            .padded
                .row        
                    .col-md-6
                        %p
                            %span.fa.fa-calendar
                            %strong Fecha de Nacimiento:
                            = I18n.localize( @persona.fecha_nacimiento.to_s.to_time, :format => '%e de %B de %Y') if @persona.fecha_nacimiento
                            
                        %p
                            %span.fa.fa-envelope-o
                            %strong E-mail:
                            = @persona.email
                            
                        %p
                            %span.fa.fa-users
                            %strong Tipo:
                            = @persona.type
                            
                        %p
                            %span.fa.fa-clock-o
                            %strong Fecha de Creacion:
                            = I18n.localize( @persona.created_at.to_s.to_time, :format => '%e de %B del %Y')
                    .col-md-6
                        %p
                            %span.fa.fa-credit-card
                            %strong Numero de Registro:
                            = @persona.num_registro
                    
                        %p
                            %span.fa.fa-heart-o
                            %strong Estado Civil:
                            = @persona.estado_civil
                            
                        %p 
                            %span.fa.fa-phone
                            %strong Telefono:
                            = @persona.telefono
                            
                        %p
                            %span.fa.fa-map-marker
                            %strong Domicilio:
                            = @persona.domicilio