.widget
    %h3.section-title.first-title
        %i.fa.fa-book
        Bitacora
        
    .row
        .col-md-12
            .btn-group.btn-group-xs
                - if can? :create, Record
                    = link_to new_bufete_caso_record_path(@bufete, @caso), class: "btn btn-default" do
                        %span.fa.fa-plus
                        Agregar Entrada
    
    %table.table.table-striped.table-bordered.table-hover.datatable
        %thead
            %tr
                %th.text-center{ colspan: '6'} Cliente
                %th.text-center{ colspan: '1'} Contraparte
            %tr
                %th.text-center Visita
                %th.text-center Folio
                %th.text-center Instancia
                %th.text-center Actuacion
                %th.text-center Notificacion
                %th.text-center Observaciones
                %th.text-center Notificacion
                %th
        %tbody
            - @records.each do |entrada|
                %tr.text-center
                    %td= I18n.localize(entrada.visita.to_s.to_datetime, :format => '%e de %B del %Y a las %H:%M %p')
                    %td= entrada.folio
                    %td= entrada.instancia
                    %td= entrada.actuacion
                    %td= I18n.localize(entrada.notificacion_cliente.to_s.to_datetime, :format => '%e de %B del %Y a las %H:%M %p')
                    %td= entrada.observaciones_cliente
                    %td= I18n.localize(entrada.notificacion_contraparte.to_s.to_datetime, :format => '%e de %B del %Y a las %H:%M %p') if entrada.notificacion_contraparte
                    %td
                        - if can? :update, Record
                            = link_to [:edit, @bufete, @caso, entrada], class: 'btn btn-default btn-xs' do
                                %span.fa.fa-pencil
                        
                        - if can? :destroy, Record
                            = link_to [@bufete, @caso, entrada], method: :delete, data: { confirm: 'Estas seguro? Esta accion es irreversible.' }, class: 'btn btn-danger btn-xs' do
                                %span.fa.fa-trash
                                
            