.widget
    %h3.section-title.first-title
        %i.fa.fa-paperclip
        Pruebas
        

    .row
        .col-md-12
            .btn-group.btn-group-xs
                - if can? :create, Prueba
                    = link_to new_bufete_caso_prueba_path(@bufete, @caso), class: "btn btn-default" do
                        %span.fa.fa-plus
                        Agregar Prueba
                        
    // SHOW EVIDENCE
    %table.table.table-striped.table-bordered.table-hover.datatable
        %thead
            %tr
                %th.text-center
                %th.text-center Título
                %th.text-center Descripción
                %th.text-center Fecha
                %th
        %tbody
            - @pruebas.each do |evidencia|
                %tr.text-center
                    %td
                        %span{ class: "fa fa-#{get_evidencia_icon(evidencia.archivo.file.extension.downcase) if evidencia.archivo.file}" }
                    %td= link_to evidencia.titulo, evidencia.archivo.url.to_s, :target => "_blank"
                    %td= evidencia.descripcion
                    %td= localize_datetime(evidencia.fecha)
                    %td
                        .btn-group.btn-group-xs
                            - if can? :read, Prueba
                                = link_to evidencia.archivo.url.to_s, :target => "_blank", class: 'btn btn-default' do
                                    %span.fa.fa-eye
                            - if can? :edit, Prueba
                                = link_to edit_bufete_caso_prueba_path(@bufete, @caso, evidencia), class: 'btn btn-default' do
                                    %span.fa.fa-pencil
                            - if can? :destroy, Prueba
                                = link_to bufete_caso_prueba_path(@bufete, @caso, evidencia), method: :delete, data: { confirm: 'Estas seguro? Esta accion es irreversible.' }, class: 'btn btn-danger' do
                                    %span.fa.fa-trash