= form_for [@bufete, @caso] do |f|

    // ERROR MESSAGES
    = render "shared/error_messages", model: @caso

    .row
        .col-md-6
            .form-group
                = f.label :nombre, 'Nombre del Caso'
                = f.text_field :nombre, autofocus: true, class: 'form-control input-sm'
            
            .form-group
                = f.label :num_accion, 'Numero de Accion'
                = f.text_field :num_accion, placeholder: 'Ej: 0801-2015-0001', class: 'form-control input-sm'
            
            .form-group
                = f.label :accion, 'Accion'
                = f.text_field :accion, placeholder: 'Ej: Herencia', class: 'form-control input-sm'
        
        .col-md-6
            
            .form-group
                = f.label :materia, 'Materia'
                = f.text_field :materia, placeholder: 'Ej: Civil', class: 'form-control input-sm'
                
            .form-group
                = f.label :oficina, 'Oficina'
                = f.text_field :oficina, placeholder: 'Ej: Juzgado de Letras', class: 'form-control input-sm'
                
            .form-group
                = f.label :estado, 'Estado'
                %br
                %div{ class: "btn-group", "data-toggle" => "buttons" }
                    %label.btn.btn-default.active
                        = f.radio_button :estado, "En Progreso", :checked => true
                        %span.glyphicon.glyphicon-hourglass
                        En Progreso
                
                    %label.btn.btn-default
                        = f.radio_button :estado, "Ganado"
                        %span.glyphicon.glyphicon-thumbs-up
                        Ganado
                        
                    %label.btn.btn-default
                        = f.radio_button :estado, "Perdido"
                        %span.glyphicon.glyphicon-thumbs-down
                        Perdido
                    
    
    %hr
    
    .row
        .col-md-12
            .form-group
                = f.label :cliente_tokens, 'Clientes'
                = f.text_field :cliente_tokens, "data-pre" => @caso.clientes.map { |model| {:id => model.id, :nombre_completo => model.nombre_completo } }.to_json, class: 'form-control'
                
            .form-group
                = f.label :contraparte_tokens, 'Contrapartes'
                = f.text_field :contraparte_tokens, "data-pre" => @caso.contrapartes.map { |model| {:id => model.id, :nombre_completo => model.nombre_completo } }.to_json, class: 'form-control'
                
            .form-group
                = f.label :testigo_tokens, 'Testigos'
                = f.text_field :testigo_tokens, "data-pre" => @caso.testigos.map { |model| {:id => model.id, :nombre_completo => model.nombre_completo } }.to_json, class: 'form-control'
    %hr
    
    .row
        .col-md-12
            .form-group
                = f.label :descripcion, 'Descripcion'
                = f.text_area :descripcion, rows: '10', class: 'form-control input-sm'
                
            .form-group
                = f.submit ( f.object.new_record? ? "Crear Caso" : "Guardar Cambios"), class: 'btn btn-success'