= form_for [@bufete, @caso] do |f|

    // ERROR MESSAGES
    = render "shared/error_messages", model: @caso

    .row
        .col-md-6
            .form-group
                = f.label :nombre, 'Nombre del Caso'
                = f.text_field :nombre, autofocus: true, class: 'form-control input-sm'
            
            .form-group
                = f.label :num_accion, 'Numero de Accion'
                = f.text_field :num_accion, placeholder: 'Ej: 0801-2015-0001', class: 'form-control input-sm'
            
            .form-group
                = f.label :accion, 'Accion'
                = f.text_field :accion, placeholder: 'Ej: Herencia', class: 'form-control input-sm'
        
        .col-md-6
            
            .form-group
                = f.label :materia, 'Materia'
                = f.text_field :materia, placeholder: 'Ej: Civil', class: 'form-control input-sm'
                
            .form-group
                = f.label :oficina, 'Oficina'
                = f.text_field :oficina, placeholder: 'Ej: Juzgado de Letras', class: 'form-control input-sm'
                
            .form-group
                = f.label :estado, 'Estado'
                %br
                %div{ class: "btn-group", "data-toggle" => "buttons" }
                    %label.btn.btn-default.active.btn-sm
                        = f.radio_button :estado, "En Proceso", :checked => true
                        %span.fa.fa-clock-o
                        En Proceso
                
                    %label.btn.btn-default.btn-sm
                        = f.radio_button :estado, "Ganado"
                        %span.fa.fa-thumbs-up
                        Ganado
                        
                    %label.btn.btn-default.btn-sm
                        = f.radio_button :estado, "Perdido"
                        %span.fa.fa-thumbs-down
                        Perdido
                    
    
    %hr
    
    .row
        .col-md-12
            .form-group
                = f.label :cliente_tokens, 'Clientes'
                .input-group
                    = f.text_field :cliente_tokens, "data-token-source" => bufete_clientes_path(@bufete), "data-pre" => @caso.clientes.map { |model| {:id => model.id, :nombre_completo => model.nombre_completo } }.to_json, class: 'form-control'
                    = link_to '#new_persona_modal', 'data-toggle' => 'modal', "data-ptype" => "Cliente", class: 'input-group-addon' do
                        %span.fa.fa-user-plus{ "data-toggle"=> "tooltip", "data-placement" => "top", :title => "Crear Nuevo Cliente" }
                
            .form-group
                = f.label :contraparte_tokens, 'Contrapartes'
                .input-group
                    = f.text_field :contraparte_tokens, "data-token-source" => bufete_contrapartes_path(@bufete), "data-pre" => @caso.contrapartes.map { |model| {:id => model.id, :nombre_completo => model.nombre_completo } }.to_json, class: 'form-control'
                    = link_to '#new_persona_modal', 'data-toggle' => 'modal', "data-ptype" => "Contraparte", class: 'input-group-addon' do
                        %span.fa.fa-user-plus{ "data-toggle"=> "tooltip", "data-placement" => "top", :title => "Crear Nueva Contraparte" }
                
            .form-group
                = f.label :testigo_tokens, 'Testigos'
                .input-group
                    = f.text_field :testigo_tokens, "data-token-source" => bufete_testigos_path(@bufete), "data-pre" => @caso.testigos.map { |model| {:id => model.id, :nombre_completo => model.nombre_completo } }.to_json, class: 'form-control'
                    = link_to '#new_persona_modal', 'data-toggle' => 'modal', "data-ptype" => "Testigo", class: 'input-group-addon' do
                        %span.fa.fa-user-plus{ "data-toggle"=> "tooltip", "data-placement" => "top", :title => "Crear Nuevo Testigo" }
    %hr
    
    .row
        .col-md-12
            .form-group
                = f.label :descripcion, 'Descripcion'
                = f.text_area :descripcion, rows: '10', class: 'form-control input-sm'
                
            .form-group
                = f.submit ( f.object.new_record? ? "Crear Caso" : "Guardar Cambios"), class: 'btn btn-success'
                = link_to 'Cancelar', :back, class: 'btn btn-default'
                

// Render Partial that displays a bootstrap modal
= render 'new_persona_modal'