.page-header
    .header-links.hidden-xs
        - if can? :create, Caso
            = link_to new_bufete_caso_path(@bufete) do
                %i.fa.fa-plus
                Crear Nuevo Caso
    %h1
        %i.fa.fa-book
        Casos

.main-content
    .widget
        
        .row.text-center
            .col-md-12
                %ul.list-inline
                    %li
                        %span.fa.fa-square.text-warning
                        = "= En Proceso"
                        
                    %li
                        %span.fa.fa-square.text-success
                        = "= Ganado"
                        
                    %li
                        %span.fa.fa-square.text-danger
                        = "= Perdido"
        .row
            .col-md-12
                .list-group
                    - @casos.each do |caso|
                        = link_to bufete_caso_path(@bufete, caso), class: "list-group-item list-group-item-#{caso_estado_contextual(caso.estado)}" do
                            %h4
                                %strong= caso.nombre
                            %p= caso.descripcion
                            
        / Pagination
        .row.text-center
            = will_paginate @casos, renderer: BootstrapPagination::Rails