.page-header
    .header-links.hidden-xs
        - if can? :create, Caso
            = link_to new_bufete_caso_path(@bufete) do
                %i.fa.fa-plus
                Crear Nuevo Caso
    %h1
        %i.fa.fa-book
        Casos

.main-content
    .widget
        .widget-content-white.glossed
            .padded
                .row
                    .col-md-12
                        .pull-right
                            = search_form_for @q, url: bufete_casos_path(params[:bufete_id]) do |f|
                                .form-group
                                    = f.search_field :nombre_or_num_accion_cont, placeholder: 'Buscar Casos...', class: 'form-control'
                .list-group
                    - @casos.each do |caso|
                        = link_to bufete_caso_path(@bufete, caso), class: "list-group-item" do
                            %h4.list-group-item-heading
                                %strong= caso.nombre
                                %small= "(#{caso.num_accion})" 
                                    
                                .pull-right
                                    .small
                                        %ul.list-inline
                                            %li{ "data-toggle"=> "tooltip", "data-placement" => "bottom", :title => "Entradas en Bitacora" }
                                                %span.fa.fa-file-text-o.fa-lg
                                                = caso.records.count
                                                
                                            %li{ "data-toggle"=> "tooltip", "data-placement" => "bottom", :title => "Pruebas" }
                                                %span.fa.fa-paperclip.fa-lg
                                                = caso.pruebas.count
                            
                            %h5.list-group-item-text
                                %strong Clientes:
                                = caso.clientes.map {|c| c.nombre_completo}.join(",")
                            
            = render 'shared/pagination', model: @casos
    
    
