.page-header
    .header-links.hidden-xs
        - if can? :create, Caso
            = link_to new_bufete_caso_path(@bufete) do
                %i.fa.fa-plus
                Crear Nuevo Caso
    %h1
        %i.fa.fa-book
        Casos

.main-content
    .widget
        .row
            .col-md-12
                .widget-content-white.glossed
                    .padded
                        .list-group
                            - @casos.each do |caso|
                                .caso-item
                                    = link_to bufete_caso_path(@bufete, caso), class: "list-group-item" do
                                        %h4.list-group-item-heading
                                            %strong= caso.nombre
                                            %small= "(#{caso.num_accion})" 
                                                
                                            /%span{ class: "label label-#{caso_estado_contextual caso.estado}"}= caso.estado
                                        
                                            .pull-right
                                                .small
                                                    %ul.list-inline
                                                        %li{ "data-toggle"=> "tooltip", "data-placement" => "bottom", :title => "Entradas en Bitacora" }
                                                            %span.fa.fa-file-text-o.fa-lg
                                                            = caso.records.count
                                                            
                                                        %li{ "data-toggle"=> "tooltip", "data-placement" => "bottom", :title => "Pruebas" }
                                                            %span.fa.fa-paperclip.fa-lg
                                                            = caso.pruebas.count
                                        
                                        %h5
                                            %strong Clientes:
                                            = caso.clientes.map {|c| c.nombre_completo}.join(",")
                                    
                / Pagination
                .row.text-center
                    = will_paginate @casos, renderer: BootstrapPagination::Rails
            
            
:javascript
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })