= form_for [@bufete, @caso, @prueba] do |f|

    // ERROR MESSAGES
    = render "shared/error_messages", model: @prueba

    .row
        .col-md-5
            .form-group
                = f.label :titulo
                = f.text_field :titulo, autofocus: true, class: 'form-control'
                
            .form-group
                = f.label :descripcion, 'Breve Descripcion'
                = f.text_field :descripcion, class: 'form-control'
    
        .col-md-7
            .form-group
                = f.label :fecha
                = f.datetime_select :fecha
        
            .form-group
                = f.label :archivo
                = link_to '#', :class => "btn btn-default btn-xs", "data-toggle" => "popover", "data-placement" => "top", :title => "<b>Formatos Permitidos</b>", "data-trigger" => "focus", "data-content" => "<p>Solamente se permiten los siguientes formatos: </p> <p class='text-center'><em>.jpg .jpeg .png .pdf .doc .txt</em></p>" do
                    %span.fa.fa-exclamation-circle
                = f.file_field :archivo, multiple: false
                        
            
                
    = f.submit ( f.object.new_record? ? "Agregar Prueba" : "Guardar Cambios"), class: 'btn btn-success', data: { disable_with: "Procesando..." }
    = link_to 'Cancelar', :back, class: 'btn btn-default'