.row
    .col-md-12
        %footer.text-center
            %p
                = link_to 'Inicio', root_path
                ·
                = link_to 'Terminos y Condiciones', terminos_path
                ·
                = link_to 'Privacidad', privacidad_path
                ·
                = link_to 'Acerca', acerca_path
                ·
                = link_to 'FAQ', faq_path
                ·
                = link_to 'Contacto', contacto_path
            
            %p
                Justix &copy; 2015
        
            %p
                %a{:href => "#"}
                    %i.fa.fa-facebook
            
                
                