.all-wrapper.no-menu-wrapper
    .login-logo-w.pull-left
        = link_to root_path, class: 'logo' do
            %span
                .fa.fa-balance-scale.fa-lg
                = "#{APP_NAME}"
                
    %ul.list-inline.pull-right
        - if !user_signed_in?
            %li
                = link_to 'Prueba Justix GRATIS!', prueba_path, class: 'btn btn-warning'
            %li 
                = link_to 'Ver Planes', planes_path, class: 'btn btn-success'
            %li 
                = link_to 'Login', login_path, class: 'btn btn-primary'
                    
        - else
            %li
                = link_to 'Regresar al Sistema', (current_user.bufetes.any? ? current_user.bufetes.first : crear_bufete_path), class: 'btn btn-primary'