- if user_signed_in?
    .col-md-3
        .text-center
            %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
  
        .side-bar-wrapper.collapse.navbar-collapse.navbar-ex1-collapse
            = link_to root_path, class: 'logo hidden-sm hidden-xs' do
                %i.fa.fa-balance-scale
                %span= "#{APP_NAME}"
    
            /.search-box
            /   %input.form-control{:placeholder => "SEARCH", :type => "text"}
            
            #sidebar
                - if can? :manage, :all
                    %ul.side-menu
                        %li
                            = active_link_to admin_path, :wrap_tag => :li, :class_active => 'current' do
                                %i.fa.fa-lock
                                Panel de Administracion
    
                .relative-w
                    %ul.side-menu
                        %li
                            = active_link_to (current_user.bufetes.any? ? current_user.bufetes.first : crear_bufete_path), :wrap_tag => :li, :class_active => 'current', :active => :exclusive do
                                %i.fa.fa-briefcase
                                Mi Bufete
                        %li
                            = active_link_to (current_user.bufetes.any? ? bufete_casos_path(current_user.bufetes.first) : crear_bufete_path), :wrap_tag => :li, :class_active => 'current' do
                                %i.fa.fa-book
                                Casos
                        %li
                            = active_link_to (current_user.bufetes.any? ? bufete_personas_path(current_user.bufetes.first) : crear_bufete_path), :wrap_tag => :li, :class_active => 'current' do
                                %i.fa.fa-users
                                Personas
                
                %ul.side-menu
                    %li
                        = active_link_to edit_user_registration_path, :wrap_tag => :li, :class_active => 'current' do
                            %i.fa.fa-cog
                            Mi Cuenta
                    %li
                        = link_to logout_path, method: :delete  do
                            %i.fa.fa-sign-out
                            Salir        
                