- if user_signed_in?
    .col-md-3
        .text-center
            %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
  
        .side-bar-wrapper.collapse.navbar-collapse.navbar-ex1-collapse
            %a.logo.hidden-sm.hidden-xs{:href => "#"}
                %i.fa.fa-balance-scale
                %span= "#{APP_NAME}"
    
            /.search-box
            /   %input.form-control{:placeholder => "SEARCH", :type => "text"}
            
            #sidebar
                %ul.side-menu
                    %li.current
                        = link_to (current_user.bufetes.any? ? panel_path : crear_bufete_path) do
                            %i.fa.fa-dashboard
                            Panel de Control
        
                .relative-w
                    %ul.side-menu
                        %li
                            = link_to (current_user.bufetes.any? ? current_user.bufetes.first : crear_bufete_path) do
                                %i.fa.fa-briefcase
                                Mi Bufete
                        %li
                            = link_to (current_user.bufetes.any? ? bufete_casos_path(current_user.bufetes.first) : crear_bufete_path) do
                                %i.fa.fa-book
                                Casos
                        %li
                            = link_to (current_user.bufetes.any? ? bufete_personas_path(current_user.bufetes.first) : crear_bufete_path) do
                                %i.fa.fa-users
                                Personas
                
                %ul.side-menu
                    %li
                        = link_to edit_user_registration_path do
                            %i.fa.fa-cog
                            Mi Cuenta
                    %li
                        = link_to logout_path, method: :delete  do
                            %i.fa.fa-sign-out
                            Salir        
                