!!! 5

%html
%head
    %title
        = "#{APP_NAME} - "
        = !@title.blank? ? @title : "Tu Solucion Notarial"
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag('print', :media => :print)
    
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oswald:300,400,700', type: 'text/css'
    
    /= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    
    = csrf_meta_tags
    
    = favicon_link_tag 'favicon.ico'
    
%body
    .all-wrapper
        .row
            // NAVBAR
            = render 'layouts/navbar'
        
            // CONTENT
            .col-md-9
                .content-wrapper
                    = render 'layouts/error_alerts'
                    .content-inner
                        = yield