!!! 5

%html
%head
    %title Mi Bufete
    
    /= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    /= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    
    = stylesheet_link_tag 'https://bootswatch.com/simplex/bootstrap.min.css'
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'
    
    = csrf_meta_tags
    
%body
    .container
        .row
            .col-md-12
                %br
    
        .row
            .col-md-10.col-md-offset-1
                = render 'layouts/navbar'
                
        .row
            .col-md-10.col-md-offset-1
                - flash.each do |name, msg|
                    - if name == "alert"
                        = content_tag(:div, msg, class: "alert alert-danger")
                    - elsif name == "notice"
                        = content_tag(:div, msg, class: "alert alert-success")
                    - else
                        = content_tag :div, msg, class: "alert alert-#{name}"
                        
        .row
            .col-md-10.col-md-offset-1
                = yield
                
        .row
            .col-md-10.col-md-offset-1
                = render 'layouts/footer'
