!!! 5

%html
%head
    %title Mi Bufete
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    
    /= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    /= stylesheet_link_tag 'https://bootswatch.com/lumen/bootstrap.min.css'
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'
    
    = csrf_meta_tags
    
%body
    .container
    
        // HEADER
        = render 'layouts/header'
        
        // ALERTS
        .row
            .col-md-10.col-md-offset-1
                = render 'layouts/error_alerts'
    
        // MAIN CONTENT
        .all-wrapper.no-menu-wrapper
            .row
                .col-md-12
                    .content-wrapper.wood-wrapper.bold-shadow
                        .content-inner
                            .main-content.main-content-grey-gradient.no-page-header
                                .main-content-inner
                                    = yield
                                    
        // FOOTER
        = render 'layouts/footer'