!!! 5

%html
%head
    %title
        = "#{APP_NAME} - "
        = !@title.blank? ? @title : "Tu Solucion Notarial"
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oswald:300,400,700', type: 'text/css'
    
    = csrf_meta_tags
    
    = favicon_link_tag 'favicon.ico'
    
%body
    .all-wrapper.no-menu-wrapper
        .login-logo-w
            = link_to root_path, class: 'logo' do
                %i.fa.fa-balance-scale
                %span= "#{APP_NAME}"
  
        .row
            .col-md-4.col-md-offset-4
                .content-wrapper.bold-shadow
                    .content-inner
                        .main-content.main-content-grey-gradient.no-page-header
                            .main-content-inner
                                = yield